<h1> About Us</h1>
<p>We are working on our One Month Rails Pinteresting app!</p>
<!-- <img src="/images/IMG_3884.JPG" alt="Dan Redmond" class="img-circle"> -->
<%= image_tag("IMG_3884.JPG", :alt => "Dan Redmond", :class => "img-circle") %>